In [15]:
import mysql.connector as mariadb

Open the database connection using the connect method.
*since we are opening something.....what else might we need to do?
*hint: close

We are using the print statement as a reminder when we run our script that we are making db connection

& because we are using as a simple way to make sure our code runs to that point our file.

In [22]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="classicmodels",
    charset = 'latin1'
    )

print("Connecting to MariaDB Database...")

Connecting to MariaDB Database...

Let's check and see if we actually made a connection. To do this we need to create a cursor.
We do this by callling the cursor method.

In [20]:
cur = con.cursor()

st= "SELECT productLine, COUNT(*) \
    FROM products \
    WHERE productLine= '{}'"

cur.execute(st.format('Motorcycles'))

In the cell above we created and executed our sql statement. But we have not used any methods to actually access this data from our select statement.

In [21]:
result= cur.fetchall()
print(result)

[('Motorcycles', 13)]

In [17]:
con.close()


That worked great! Let's make a new database without using thr GUI or mysql shell.
-Notice that we are not connecting toa  aspecific database when e make the connection.
-NOTE: strings can be passed directly into the execute method, determine which way works best for each individual.

In [22]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password"
      )

print("Connecting to MariaDB Database...")

cur = con.cursor()

#st= "CREATE DATABASE test_db"

cur.execute("CREATE DATABASE test_db")
print("test_db created")
con.close()

Connecting to MariaDB Database...
test_db created

Add a table to the test_db database that we just created.

In [19]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db",
    charset = 'latin1'
   )

print("Connecting to MariaDB Database...")

cur = con.cursor()

st= "CREATE TABLE Registration \
    (id INTEGER, age INTEGER, \
     first varchar(50), last VARCHAR(50))"

cur.execute(st)

print("Registration Table is created")

con.close()

Connecting to MariaDB Database...
Registration Table is created

Insert data into our newly created Registration Table.
*Reminder*
DDL(Data Definition Language) - Create, Drop, Alter
DQL(Data Query Language) - SELECT
DML(Data Manipulation Language) - INSERT, UPDATE, DELETE

In [3]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db",
    charset = 'latin1'
   )

print("Connecting to MariaDB Database...")

cur = con.cursor()

st="INSERT INTO Registration \
    (id, age, first, last) VALUES \
    (100, 29, 'Michael', 'Jordan'), \
    (101, 29, 'Diego', 'Maradona'), \
    (102, 33, 'Babe', 'Ruth'), \
    (103, 40, 'Wayne', 'Gretzky'), \
    (104, 27, 'Michelle', 'Kwan'), \
    (105, 35, 'Steffi', 'Graf')"

cur.execute(st)
con.commit()

print('Values are inserted')

con.close()

Connecting to MariaDB Database...
Values are inserted

Let's check how to see our values , without using GUI.
We are using a different process here to access the values instead of the .fetchall() method.

In [6]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db",
    charset = 'latin1'
   )

print("Connecting to MariaDB Database...")

cur = con.cursor()

st = "SELECT * FROM Registration"

cur.execute(st)

#result = cur.fetchall()
#print(result)
for r in cur:
      print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 29, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

Querying with Like Operator

In [7]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db",
    charset = 'latin1'
   )

print("Connecting to MariaDB Database...")

cur = con.cursor()

st = "SELECT * FROM Registration WHERE first LIKE '%ich%'"

cur.execute(st)

for r in cur:
      print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 29, FIRST: Michael, LAST: Jordan
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan

UPDATE Example
*UPdate is part of DML so we want to use the commit method on our connection object

In [8]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db",
    charset = 'latin1'
   )

print("Connecting to MariaDB Database...")

cur = con.cursor()

st= "UPDATE Registration \
    SET age= 30 WHERE id IN (100,101)"

cur.execute(st)
con.commit()

print("Values are updated")
con.close()

Connecting to MariaDB Database...
Values are updated

In [9]:
con= mariadb.connect(
    host="localhost",
    user="root",
    password="password",
    database="test_db",
    charset = 'latin1'
   )

print("Connecting to MariaDB Database...")

cur = con.cursor()

st = "SELECT * FROM Registration"

cur.execute(st)

#result = cur.fetchall()
#print(result)
for r in cur:
      print("ID: {}, AGE: {}, FIRST: {}, LAST: {}".format(r[0],r[1],r[2],r[3]))

con.close()

Connecting to MariaDB Database...
ID: 100, AGE: 30, FIRST: Michael, LAST: Jordan
ID: 101, AGE: 30, FIRST: Diego, LAST: Maradona
ID: 102, AGE: 33, FIRST: Babe, LAST: Ruth
ID: 103, AGE: 40, FIRST: Wayne, LAST: Gretzky
ID: 104, AGE: 27, FIRST: Michelle, LAST: Kwan
ID: 105, AGE: 35, FIRST: Steffi, LAST: Graf

Example of using SQL actions with a try and except block

In [10]:
try:
    con= mariadb.connect(
        user="root",
        password= "password",
        database="wrong_db"
    )

    print("Connected to MariaDB...")

    con.close()
except mariadb.Error as e:
    print(e)

Unknown database 'wrong_db'

In [27]:
import mariadb

def generate_user_table():
    con= mariadb.connect(
            host = "localhost",
            user="root",
            password= "password",
            database="test_db",
            charset = 'latin1'
    )

    print("Connected to MariaDB...")

    cur = con.cursor()

    st= "CREATE TABLE user \
    (email varchar(100), name varchar(50), password varchar(30))"

    cur.execute(st)

    print("User Table is created")


    st1="INSERT INTO user \
        (email, name, password) VALUES \
        ('ywbaek@perscholas.org', 'young', 'letsgomets'), \
        ('mcordon@perscholas.org', 'marcial', 'perscholas'), \
        ('mhaseeb@perscholas.org', 'haseeb', 'platform')"   
        
           
        
    cur.execute(st1)

    print("Values are inserted")

    con.commit()

    con.close()

In [26]:
generate_user_table()

Connected to MariaDB...
Values are inserted

In [28]:
def get_all_users():
    con= mariadb.connect(
            host = "localhost",
            user="root",
            password= "password",
            database="test_db",
            charset = 'latin1'
    )

    print("Connected to MariaDB...")

    cur = con.cursor()

    st = "SELECT * FROM user"

    cur.execute(st)

    #result = cur.fetchall()
    #print(result)
    for r in cur:
      print("email: {}, name: {}, password: {}".format(r[0],r[1],r[2]))

    con.close()

In [29]:
get_all_users()

Connected to MariaDB...
email: ywbaek@perscholas.org, name: young, password: letsgomets
email: mcordon@perscholas.org, name: marcial, password: perscholas
email: mhaseeb@perscholas.org, name: haseeb, password: platform

In [37]:
def get_user_by_name(name):
    con= mariadb.connect(
            host = "localhost",
            user="root",
            password= "password",
            database="test_db",
            charset = 'latin1'
    )

    print("Connected to MariaDB...")

    cur = con.cursor()

    
    st = (f"SELECT * FROM user WHERE name = '{name}'")

    cur.execute(st)

    for r in cur:
        print("name: {}, email: {}, password: {}".format(r[1],r[0],r[2]))
       

    con.close()

In [38]:
get_user_by_name('young')

Connected to MariaDB...
name: young, email: ywbaek@perscholas.org, password: letsgomets

In [60]:
def validate_user(email,password):
    con= mariadb.connect(
            host = "localhost",
            user="root",
            password= "password",
            database="test_db",
            charset = 'latin1'
    )

    print("Connected to MariaDB...")

    cur = con.cursor()

    
    st = (f"SELECT * FROM user WHERE email = '{email}' and password = '{password}'")
    cur.execute(st)
    if cur.rowcount == 0:
        return False
    else:
        return True

    con.close()

In [47]:
validate_user('ywbaek@perscholas.org', 'letsgomets')

Connected to MariaDB...

True

In [20]:
def update_user(email, name, password):
    con= mariadb.connect(
            host = "localhost",
            user="root",
            password= "password",
            database="test_db",
            charset = 'latin1'
    )

    print("Connected to MariaDB...")

    cur = con.cursor()

    
    st= f"UPDATE user \
    SET name= '{name}', password= '{password}' WHERE email= '{email}'"

    cur.execute(st)
    con.commit()

    if cur.rowcount == 0:
        return False
    else:
        return True       

    
    con.close()

In [21]:
update_user('mhaseeb@perscholas.org', 'haseeb', 'platform')

Connected to MariaDB...

True